
<%= form_for @article do |f| %>

	<% if @article.errors.any? %>
		<div id="error_explaination">
			<h3>
	        <%= pluralize(@article.errors.count, "error") %> prohibited
	        this article from being saved:
	      	</h3>
		     <ul>
		        <% @article.errors.full_messages.each do |msg| %>
		          <li><%= msg %></li>
		        <% end %>
		     </ul>
    	</div>
  	<% end %>
 
		<p>
		   <%= f.label :title %><br>
		   <%= f.text_field :title, size: "51x1" %>
		</p>
	 
	
		<p><%= f.label :text %></p>  
		<%= f.text_area :text, :id => "froala-editor" %>
	
	 
	
	   	<p><%= f.submit %></p>
	
 
<% end %>


